<a href="https://colab.research.google.com/github/yasminemasmoudi/P2M-models/blob/master/Fix_Missing_Images.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import requests
drive_path = '/content/drive/My Drive/p2mfiles/'
from bs4 import BeautifulSoup

df_books = pd.read_csv(drive_path + 'to_clean.csv')
nopic_ids = df_books[df_books.image_url.str.contains('nophoto')].book_id.values

headers = requests.utils.default_headers()
headers.update({
    'User-Agent': 'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:52.0) Gecko/20100101 Firefox/52.0',
})
URL = 'https://www.goodreads.com/book/show/'

print(f'Total missing images : {len(nopic_ids)}')
no_images = set([389627,42155,4502877,25735012,19469, 3698,207781, 53580, 105703,63432,313620, 78674, 44360 ])
ex = 0

for i, bookid in enumerate(nopic_ids):
    if bookid in no_images:
      continue
    try:
        page = requests.get(URL + str(bookid), headers = headers)
        soup = BeautifulSoup(page.content, 'html.parser')
        new_image_url = soup.find("div", {"class": "editionCover"}).img['src']
        df_books.loc[df_books.book_id == bookid,'image_url'] = new_image_url
    except Exception as e:
        ex += 1
        print(f'No image found for Bookid : {bookid} due to {e}')
        if(ex > 5):
          print('Terminating ..')
          break
    if i and i % 100 == 0:
        print(f'Processed {i} Books')

new_nopic_ids = df_books[df_books.image_url.str.contains('nophoto')].book_id.values
print(f'Missing images now: {len(new_nopic_ids)}')
print(f'Updated {abs(len(new_nopic_ids) - len(nopic_ids))} images')
print()
print('Writing to Drive ...')
df_books.to_csv(drive_path + 'cleaned.csv', index = False)

Total missing images : 53
Missing images now: 13
Updated 40 images

Writing to Drive ...

In [ ]:
cols = ['original_title', 'authors', 'average_rating', 'image_url', 'book_id']

   Unnamed: 0  ...                                    small_image_url
0           0  ...  https://images.gr-assets.com/books/1447303603s...
1           1  ...  https://images.gr-assets.com/books/1474154022s...
2           2  ...  https://images.gr-assets.com/books/1361039443s...
3           3  ...  https://images.gr-assets.com/books/1361975680s...
4           4  ...  https://images.gr-assets.com/books/1490528560s...

[5 rows x 40 columns]

In [ ]:
cols = [c for c in df_books.columns if not 'Unnamed' in c]
df = df_books[cols].copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9274 entries, 0 to 9273
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   r_index                    9274 non-null   int64
 1   book_id                    9274 non-null   int64
 2   best_book_id               9274 non-null   int64
 3   work_id                    9274 non-null   int64
 4   books_count                9274 non-null   int64
 5   isbn                       8728 non-null   object
 6   isbn13                     8828 non-null   float64
 7   authors                    9274 non-null   object
 8   original_publication_year  9268 non-null   float64
 9   original_title             9274 non-null   object
 10  title                      9274 non-null   object
 11  language_code              8281 non-null   object
 12  average_rating             9274 non-null   float64
 13  ratings_count              9274 non-null   int64
 14  work_ratings_count         9274 non-null   int64
 15  work_text_reviews_count    9274 non-null   int64
 16  ratings_1                  9274 non-null   int64
 17  ratings_2                  9274 non-null   int64
 18  ratings_3                  9274 non-null   int64
 19  ratings_4                  9274 non-null   int64
 20  ratings_5                  9274 non-null   int64
 21  image_url                  9274 non-null   object
 22  small_image_url            9274 non-null   object
dtypes: float64(3), int64(13), object(7)
memory usage: 1.6+ MB

In [ ]:
df.to_csv('full_books.csv', index = False)

In [ ]:
df.to_csv(drive_path + 'full_books.csv', index = False)

In [ ]:
cols = ['r_index','book_id','authors','original_title','image_url','average_rating','ratings_count']
df = df[cols]
df.to_csv('books.csv', index = False)